<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommenTerra | Advanced Search</title>
    <link rel="stylesheet" href="css/commenterra.css" />
    <link rel="stylesheet" href="css/commenterra-icons.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/vendor/jquery-ui.css" />
    <script src="js/vendor/jquery-1.11.2.js"></script>
    <script src="css/vendor/jquery-ui.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/leaflet.js"></script>
    <script src="js/jquery.raty.js"></script>

    <script src="js/vendor/leafletdraw/src/Leaflet.draw.js"></script>
    <link rel="stylesheet" href="js/vendor/leafletdraw/dist/leaflet.draw.css" />

    <script src="js/vendor/leafletdraw/src/Toolbar.js"></script>
    <script src="js/vendor/leafletdraw/src/Tooltip.js"></script>

    <script src="js/vendor/leafletdraw/src/ext/GeometryUtil.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/LatLngUtil.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/LineUtil.Intersect.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/Polygon.Intersect.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/Polyline.Intersect.js"></script>

    <script src="js/vendor/leafletdraw/src/draw/DrawToolbar.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Feature.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.SimpleShape.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Polyline.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Circle.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Marker.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Polygon.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Rectangle.js"></script>

    <script src="js/vendor/leafletdraw/src/edit/EditToolbar.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/EditToolbar.Edit.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/EditToolbar.Delete.js"></script>

    <script src="js/vendor/leafletdraw/src/Control.Draw.js"></script>

    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Poly.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.SimpleShape.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Circle.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Rectangle.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Marker.js"></script>

          <!-- style for rate function and stars -->
          <style>.functions .demo {
            margin-bottom: 10px;
          }

          .functions .item {
          background-color: #FEFEFE;
          border-radius: 4px;
          display: inline-block;
          margin-bottom: 5px;
          padding: 5px 10px;
          }

          .functions .item a {
          border: 1px solid #CCC;
          margin-left: 10px;
          padding: 5px;
          text-decoration: none;
          }

          .functions .item input {
          display: inline-block;
          margin-left: 2px;
          padding: 5px 6px;
          width: 120px;
          }

          .functions .item label {
          display: inline-block;
          font-size: 1.1em;
          font-weight: bold;
          }

          .hint {
          text-align: center;
          width: 160px
          }

          div.hint {
          font-size: 1.4em;
          height: 46px;
          margin-top: 15px;
          padding: 7px
          }
          </style>

    <!-- autocomplete style -->
    <style>
      .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
      }
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
      height: 100px;
      }
    </style>

    <!-- script for autocomplete function -->
    <script>
      $(function() {
      var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
      ];
       function split( val ) {
      return val.split( / \s*/ );
      }
      function extractLast( term ) {
      return split( term ).pop();
      }
      $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $( this ).autocomplete( "instance" ).menu.active ) {
      event.preventDefault();
      }
      })
      .autocomplete({
      minLength: 3,
      source: function( request, response ) {
      // delegate back to autocomplete, but extract the last term
      response( $.ui.autocomplete.filter(
      availableTags, extractLast( request.term ) ) );
      },
      focus: function() {
      // prevent value inserted on focus
      return false;
      },
      select: function( event, ui ) {
      var terms = split( this.value );
      // remove the current input
      terms.pop();
      // add the selected item
      terms.push( ui.item.value );
      // add placeholder to get the comma-and-space at the end
      terms.push( "" );
      this.value = terms.join( " " );
      return false;
      }
      });
      });
    </script>
  </head>

    <% if (markers) { %>
       <body data-ng-app="Comments" data-ng-controller="commentsController" onload="showMarkers('<%= markers %>'); helpModal();">
    <% } else { %>
       <body>
    <% }%>

    <!-- TOP-BAR (fixed)
    everytime you can see this strong navigation tool
    to get you everywhere -->

    <% if (message.length > 0) { %>
      <div data-alert class="alert-box">
        <%= message %>
      <a href="#" class="close">&times;</a>
      </div>
    <% } %>

    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area"> 
        <li class="name"> 
          <h1><a href="/"> <font face="Helvetica" color="#424242" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommenTerra</font> </a></h1> 
        </li> 
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
      </ul>
      <section class="top-bar-section"> 
        <!-- Right Nav Section --> 
        <ul class="right" id="lastStop">
          <li class="has-form">
            <form action="/api/v1/simplesearch" method="get" data-abide>
                <div class="row collapse">
                  <div class="small-9 columns ">
                      <div class "search-field">
                        <label> <input type="text" id="tags" placeholder="search term" name="q"> </label>
                        <!-- small class="error">The Keyword must be alpha-numeric with at least 3 characters!</small-->
                      </div>
                  </div>
                  <div class="small-3 columns end">
                    <button class="success radius expand" type="submit">Search</button>
                  </div>
                </div>
            </form>
          </li>
          <!-- LogInModal
               to get logged-in in the community network
               only posible when you have been registed -->
          <li><a href=<%= action %> data-reveal-id="LogInModal"><%= actionName %></a></li>
          <% if (!boolean1) { %>
          <div id="LogInModal" class="reveal-modal" data-reveal>
            <h2>Log In</h2>
            <p class="lead">Please log in with your e-mail and your password</p>
            <p><form data-abide action="/login" method="post">
              <div class="email-field">
                <label>e-Mail 
                  <small>required</small>
                  <input type="email" id="email" placeholder="info@commenterra.com" name="email" required pattern="email">  
                </label>
                <small class="error">Please type in a valid e-mail-adress!</small>
              </div>
              <div class="password-field">
                <label>Password 
                  <small>required</small>
                  <input type="password" id="password" placeholder="P4s$w0rd!" name="password" required> 
                </label>
                <small class="error">Please type in your password!</small>
              </div>
              <button id="LogInModal2" class="radius" type="submit">Log In</button>
            </form></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% } %>
          <li class="has-dropdown"> 
            <a href="#">Site Navigation</a> 
            <ul class="dropdown"> 
              <li><a href="/comments/add">New Comment</a></li> 
              <li><a href="/api/v1/search">Advanced Search</a></li> 
              <!-- only for logged in users -->
              <% if (boolean1) { %>
              <li><a href="/profile/<%= userId %>">Profile</a></li> 
              <% } %>
              <li><a id="relocate" onClick="relocate()">Relocate</a></li>
              <li><a onclick="startJoyRide()">Start Tour</a></li>
              <li><a href="/faq">Help / FAQ</a></li> 
            </ul> 
          </li> 
        </ul> 
      </section>
    </nav>
    </div>


    <div class="fixed-under">
      <nav class="top-bar-border"></nav>
    </div>


    <!-- upper dark gray area -->
    <div class="panel custom" style="padding-bottom: 0em">

    <!-- LARGE-UP
           use this to show the page when there is a larger display -->
      <strong class="show-for-large-up">
        <!-- input for the advanced search to get the search start
             ordered in a grid to have a better overview of the options -->
        <ul class="large-block-grid-2">
          <h3 id="firstStop"><font color="white">&nbspAdvanced Search</font color="white"></h3>
          <li>
            <form action="/api/v1" method="post">
              <input type="text" name="q" placeholder="<%= keywordsPH %>" />
              <input type="text" name="url" placeholder="<%= urlPH %>" />            
              <input type="text" name="authorName" placeholder="<%= userPH %>" />
              <p id="numero1">
                <div id="rating" data-score="<%= score %>" ></div>
                <input id="rating-input" name="datasetRating" type="hidden" value="" /> 
              </p>
          </li>
          <li>            
            <ul class="large-block-grid-2">              
              <li>
                <!-- start date -->
                <div id="numero2" data-abide data-date="12-02-2012" data-date-format="mm-dd-yyyy" >
                  <input type="text" id="datepicker1" placeholder="<%= startdatePH %>" name="startdate">
                </div>
                <!-- coordinates for searching on a specific point -->
                <input type="text" name="search_coordinates" placeholder="<%= gpsPH %>" />
                <!-- button to initialize the search -->
                <button  class="tiny radius expand" style="padding-bottom: 0.45rem" type="submit"><font color="#424242">Search</font></button>
                <!-- hidden input for the rectangle coordinates -->
                <input type="hidden" id="search_rectangle" name="search_rectangle" value="" placeholder="bounding-box coordinates" />
              </li>
              <li>
                <!-- end date -->
                <div data-abide data-date="12-02-2012" data-date-format="mm-dd-yyyy" >
                  <input type="text" id="datepicker2" placeholder="<%= enddatePH %>" name="enddate">
                </div>
                <!-- button to initialize the bounding-box toolbar -->
                <a id="numero3" class="tiny radius expand button" style="padding-bottom: 0.45rem" onClick="showToolbar()">
                  <font color="#424242">Set Bounding-Box</font>
                </a>
            </form>
                <!-- "save this search"-button to open a pop-up window
                     generate a permalink the user can copy
                     to get back to his search configuration everytime -->
                <button id="numero4" href="#" data-reveal-id="permalinkModalLarge" class="tiny radius expand" style="padding-bottom: 0.45rem">
                  <font color="#424242">Save This Search</font>
                </button>
                <div id="permalinkModalLarge" class="reveal-modal" data-reveal>
                  <h2>Permalink</h2>
                  <p class="lead">Copy this link to save your search configuration and reuse it again in the future:</p>
                  <p><font color="#2ba6cb">http://localhost:80/apo/v1/search?<%= query %></font></p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>
              </li>
            </ul>
        </ul>
      </strong>

      <!-- SMALL-UP
           use this to show the page on smaller displays
           for example on mobilephones -->
      <strong class="hide-for-large-up">
        <!-- input for the advanced search to get the search start
             ordered in a grid to have a better overview of the options -->
        <h3 id="firstStop"><font color="white">&nbspAdvanced Search</font color="white"></h3>
        <form action="/api/v1" method="post">
          <input type="text" name="q" placeholder="<%= keywordsPH %>" />
          <input type="text" name="url" placeholder="<%= urlPH %>" />            
          <input type="text" name="authorName" placeholder="<%= userPH %>" />
          
          <div id="rating2" data-score="<%= score %>" ></div>
          <input id="rating-input2" name="datasetRating" type="hidden" value="" /> 
          <br>
          <!-- start date -->
          <div data-abide data-date="12-02-2012" data-date-format="mm-dd-yyyy" >
            <input type="text" id="datepicker3" placeholder="<%= startdatePH %>" name="startdate">
          </div>
          <!-- end date -->
          <div data-abide data-date="12-02-2012" data-date-format="mm-dd-yyyy" >
            <input type="text" id="datepicker4" placeholder="<%= enddatePH %>" name="enddate">
          </div>

          <!-- coordinates for searching on a specific point -->
          <input type="text" name="search_coordinates" placeholder="<%= gpsPH %>" />

          <!-- boundingbox search
               the user get a pop-up window where he/she is
               able to define a radius. Afterwards by clicking
               on the map the boundingbox circle appears. -->
          <a class="tiny radius expand button" style="padding-bottom: 0.45rem" onClick="showToolbar()">
            <font color="#424242">Set Bounding-Box</font>
          </a>

          <!-- "save this search"-button open a pop-up window
               generate a permalink the user can copy
               to get back to his search everytime -->              
          <button href="#" data-reveal-id="permalinkModalSmall" class="tiny radius expand" style="padding-bottom: 0.45rem">
            <font color="#424242">Save This Search</font>
          </button>
          <div id="permalinkModalSmall" class="reveal-modal" data-reveal>
            <h2>Permalink</h2>
            <p class="lead">Copy this link to save your search configuration and reuse it again in the future:</p>
            <p><font color="#2ba6cb">http://localhost:80/apo/v1/search?<%= query %></font></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <!-- initialize the search -->
          <button  class="tiny radius expand" style="padding-bottom: 0.45rem" type="submit"><font color="#424242">Search</font></button>
          <!-- hidden input for the rectangle coordinates -->
          <input type="hidden" id="search_rectangle2" name="search_rectangle" value="" placeholder="bounding-box coordinates" />
        </form>
      </strong>
    </div>

    <!-- lower bright gray area -->
    <div class="panel custom2" id="numero5">
      <ul class="large-block-grid-2 medium-block-grid-1 small-block-grid-1" data-equalizer>
        <li>
          <div class="panel custom" style="overflow: auto" data-equalizer-watch>
          <!-- comments 
                 orderd in a data-accordion -->
          <dl class="accordion" data-accordion>
            <% for(var i=0; i<comments.length; i++) {%>
              <dd class="accordion-navigation">

              <a id="numero6" href="#panel<%= i %>c" ><%= comments[i].title %></a>

              <div id="panel<%= i %>c" class="content" >
                <div class="panel custom5" style="border-color: #424242;">
                  <ul class="no-bullet">
                    <li>
                    <!-- MapViewer
                         by clicking the link of the geodataset
                         it is open in the map_viewer -->
                      <a href="/mapviewer"><font color="#2ba6cb"><%= comments[i].dataset.url %></font></a>
                      <p>
                        <!-- display stars depending on star-rating -->
                        <% if (comments[i].dataset.rating) {%> 
                          <% for (var k=0; k<comments[i].dataset.rating; k++) { %> 
                            <i class="fi-star size-28 font-green"></i>
                          <% } %>
                          <% for (var l=comments[i].dataset.rating; l<5; l++) { %> 
                            <i class="fi-star size-28 font-grey"></i>
                          <% } %>
                        <%} else {%> 
                          <% for (var l=0; l<5; l++) { %> 
                            <i class="fi-star size-28 font-grey"></i>
                          <% } %>
                        <%} %>   
                    </li>
                  </ul>
                  <%= comments[i].text %> 
                  <p>
                  <ul class="no-bullet">
                    <li>
                      <% if (comments[i].user) {%>
                        <!-- HERE SCRIPT TO POPULATE COMMENTS! -->
                        <a href="/profile/<%= comments[i].authorName %>">
                          <font color="#2ba6cb"><%= comments[i].user.local.username %></font>
                        </a>
                      <%} else {%> 
                        <font color="#424242"><em>anonymous</em></font>
                      <%} %>
                      <!--
                      <% if (comments[i].markerCoords) {%>
                        <p onload="loadMarker(<%= comments[i].markerCoords[1] %>, <%= comments[i].markerCoords[0] %>)">test</p>;
                      <%} %>
                      -->
                      <font color="#80FF00">&nbsp&nbsp&nbsp&nbsp12&nbsp&nbsp</font><a href="#"><i class="fi-like size-28 font-green"></i></a>
                      <font color="#c60f13">&nbsp&nbsp&nbsp&nbsp0&nbsp&nbsp</font><a href="#"><i class="fi-dislike size-24 font-alert"></i></a>
                      &nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp<%= comments[i].dateString %>
                    </li>
                  </ul>
                </div>
                <br>
                <ul class="no-bullet">
                  <li>
                    <!-- for making a comment at a comment -->
                    <form action="/comments/addtothread/<%= comments[i]._id %>" method="post">
                      <div class="row">
                        <div class="large-12 columns">
                          <textarea name="text" placeholder="comment on this comment ..."></textarea>
                          <button href="#" class="success tiny radius expand" type="submit">Send your comment</button>
                        </div>
                      </div>
                    </form>
                  </li>
                </ul>

                <% if (comments[i].comments.length>0) {%>                  
                  <% for (var j=comments[i].comments.length-1; j>=0; j--) {%>
                    <div class="panel custom5" style="border-color: #424242;">
                      <div class="content">
                        <p><%= comments[i].comments[j].text %></p>
                        <% if (comments[i].comments[j].user) {%>
                          <!-- HERE SCRIPT TO POPULATE COMMENTS1 -->
                          <a href="/profile/<%= comments[i].comments[j].authorName %>">
                            <font color="#2ba6cb"><%= comments[i].comments[j].authorName %></font>
                          </a>
                        <%} else {%> 
                          <font color="#424242"><em>anonymous</em></font>                            
                        <%} %>
                          <font color="#80FF00">&nbsp&nbsp&nbsp&nbsp12&nbsp&nbsp</font><a href="#"><i class="fi-like size-28 font-green"></i></a>
                          <font color="#c60f13">&nbsp&nbsp&nbsp&nbsp0&nbsp&nbsp</font><a href="#"><i class="fi-dislike size-24 font-alert"></i></a>
                          &nbsp&nbsp&nbsp&nbsp
                          <font size="3"><%= comments[i].comments[j].dateString %></font>                           
                      </div>
                    </div>
                    <br>
                  <%} 
                    %>
                  <%} %>
                </div>
              </dd>
            <% } %>

            <% if (metamaps.length > 0 ) { %> 
              <!-- MY META MAPS -->
              <% for(var i=0; i<metamaps.length; i++) {%>
                <dd class="accordion-navigation">
                  <a href="#panelm<%= i %>c">My Meta Maps comment</a>
                  <div id="panelm<%= i %>c" class="content">
                    <div class="panel custom5" style="border-color: #424242;">
                    <ul class="no-bullet">
                      <li>
                        <a href="/mapviewer"><font color="#2ba6cb"><%= metamaps[i].itemUnderReview %></font></a>
                        <br>
                        <%= metamaps[i].text %>
                      </li>   
                </dd>
              <%} %>
              <% } %>
            </dl>
                      <li>
                        <div class="panel custom" data-equalizer-watch>
                          <!-- map -->
                          <div>
                            <div class="map" id="map1" style="width: 100%; height: 750px; border-radius: 3px"></div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

              <!-- script for the map -->
              <script>
                //map
                var map1 = L.map('map1');
                //reset coordinate input
                map1.on('load',  function() {
                  $("#search_rectangle").val(null);
                  $("#search_rectangle2").val(null);
                });
                //var map1 = L.map('map1').setView([51.96935, 7.59588], 13);

                //load and display tile layers on the map
                var mapBox = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  zIndex: 1,
                  maxZoom: 20,
                  attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map1);

                var aerial = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}.png', {
                  zIndex: 1,
                  maxZoom: 18,
                  attribution: 'Map data © <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9">ArcGis Map Service</a> contributors, ' +
                    '<a href="http://www.esri.com/legal/software-license">Esri Master License Agreement</a>, ' +
                    'Imagery © <a href="http://www.esri.com/">ESRI</a>'
                });

                var OSM = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  zIndex: 1,
                  maxZoom: 20,
                  attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,'
                });

                // crate a baseLayer-variable in which all the basemap-tile-layers are stored
                var baseLayers = {
                  "OSM MapBox": mapBox,
                  "ESRI Aerial": aerial,
                  "OSM Standard": OSM
                };

                // initialize the layer-control toolbar
                L.control.layers(baseLayers).addTo(map1);

                //create custom icons
                var specialIcon = L.Icon.extend({
                  options: {
                    shadowUrl: '/css/images/marker-shadow.png',
                    iconAnchor:   [12, 40],
                    shadowAnchor: [12, 40],
                    popupAnchor:  [0, -30]
                  }
                });

                var greenIcon = new specialIcon({iconUrl: 'css/images/marker-icon-green.png'}),
                    redIcon = new specialIcon({iconUrl: 'css/images/marker-icon-red.png'});

                //create featureGroup and control panels for drawing
                var drawnItems = new L.FeatureGroup();
                map1.addLayer(drawnItems);

                var drawControlFull = new L.Control.Draw({
                  edit: {
                    featureGroup: drawnItems
                  }
                });

                var drawControlEditOnly = new L.Control.Draw({
                  edit: {
                    featureGroup: drawnItems
                  }, draw: false
                });

                //function to load the control panels for drawing
                var i = false;

                function showToolbar () {

                if (i == false) {

                map1.addControl(drawControlFull);

                i = true;

                } else {

                }

                }

                //draw the rectangle and put its coordinates into an input
                map1.on("draw:created", function (e) {
                  var type = e.layerType;
                  var layer = e.layer;

                  if (type === 'rectangle') {
                    layer.on('mouseover', function() {
                      $("#search_rectangle").val(layer.getLatLngs());
                      $("#search_rectangle2").val(layer.getLatLngs());     
                    });
                  }

                  layer.addTo(drawnItems);
                  drawControlFull.removeFrom(map1);
                  drawControlEditOnly.addTo(map1)
                });

                map1.on("draw:deleted", function(e) {
                  drawControlEditOnly.removeFrom(map1);
                  $("#search_rectangle").val(null);
                  $("#search_rectangle2").val(null);  
                  drawControlFull.addTo(map1);
                });

                //relocate your position
                function relocate() {

                  map1.locate({setView: true, maxZoom: 16});

                  map1.removeLayer(locationMarker);
                  map1.removeLayer(locationCircle);
                }

                var locationMarker;
                var locationCircle;

                //locate your position when first loading the map
                function onLocationFound1(e) {
                  var radius1 = e.accuracy / 2;

                  locationMarker = L.marker(e.latlng, {icon: redIcon}).addTo(map1)
                  .bindPopup("You are within " + radius1 + " meters from this point").openPopup();

                  locationCircle = L.circle(e.latlng, radius1, {
                    color: '#c60f13',
                    fillColor: '#c60f13',
                    fillOpacity: 0.5
                  }).addTo(map1);
                }

                function onLocationError1(e) {
                  alert(e.message);
                }

                map1.on('locationfound', onLocationFound1);
                map1.on('locationerror', map1.setView([51.96935, 7.59588], 13), onLocationError1);

                map1.locate({setView: true, maxZoom: 16});

                var popup = L.popup();

                //show the coordinates of the point you clicked on the map
                function onMapClick1(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map1);
                }
                
                //load in all markers connected to a comment
                function showMarkers(planes) {

                                      planes = planes.split(",");
                    var minx = 51.927967;
                    var miny = 7.576890;
                    var maxx = 52.002744;
                    var maxy = 7.669931;
                    console.log(planes[0] + " " + planes[1])
                    for (var i = 0; i < planes.length - 1; i=i+3) {
                      if (Number(planes[i]) < miny) {
                        miny = Number(planes[i])
                      } else if (Number(planes[i]) > maxy) {
                        maxy = Number(planes[i])
                      }
                       if (Number(planes[i+1]) < minx) {
                        minx = Number(planes[i+1])
                      } else if (Number(planes[i+1]) > maxx) {
                        maxx = Number(planes[i+1])
                      }
                      console.log(i + " " + Number(planes[i]) + " " + Number(planes[i+1]))
                      marker = new L.marker( [ Number( planes[i+1]), Number(planes[i]) ] )
                      .bindPopup(planes[i+2])
                      .addTo(map1);
                    }
                    //map1.setView([51.96935, 7.59588], 7);

                    map1.fitBounds([
                      [minx-0.5, miny-0.5],
                      [maxx+0.5, maxy+0.5]
                  ]);
                }

                map1.on('click', onMapClick1);

              </script>


    <div class="panel custom4" style="width: 100%; height: 2px"></div>


    <!-- FOOTER
         on every page to get more informations -->
    <div id="footer">
      || <a href="/about"><font color="#424242">About CommenTerra / Contact</font></a> || 
      <a href="/faq"><font color="#424242">FAQ / Help</font></a> ||
    </div>

    <!-- JOYRIDE
         as intrudation in the functionality of this page -->
    <ol class="joyride-list" data-joyride>
      <li data-id="firstStop" data-text="Next" data-options="prev_button: false">
        <p>The advanced search is very usefull to search for specific geodatasets.</p>
      </li>
      <li data-id="numero1" data-button="Next" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>Search for usersnames, URLs or for any other terms that come to your mind...</p>
      </li>
      <li data-id="numero2" data-button="Next" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>... of course you can also specify a time frame related to the geodataset.</p>
      </li>
      <li data-id="numero3" data-button="Next" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>Additionally you can search for a spatial extent via coordinates or a polygon directly on the map.</p>
      </li>
      <li data-id="numero4" data-button="Next" data-prev-text="Prev" data-options="tip_location: top; tip_animation: fade">
        <p>Here you can copy the permalink of your search configuration to reuse it again in the future.</p>
      </li>
      <li data-id="numero5" data-button="Next" data-prev-text="Prev" data-options="tip_location: top; tip_animation: fade">
        <p>Your search results are shown here. For more information simply click on your desired comment. Click again to hide it.</p>
      </li>       
      <li data-id="lastStop" data-button="End" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>If you want to further explore CommenTerra use the site navigation. Happy searching!</p>
      </li>
    </ol>


    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.joyride.js"></script>
    <script>
      $(document).ready(function(){
        $("#rating").raty({
          path: 'img',
          score: Number($("#rating").attr('data-score')),          
          click: function(score, evt) {
          $("#rating-input").val(score)
          }
        });
      });
    </script>
    <script>
      $(document).ready(function(){
        $("#rating2").raty({
          path: 'img',
          score: Number($("#rating").attr('data-score')),          
          click: function(score, evt) {
          $("#rating-input2").val(score)
          }
        });
      });
    </script>
    <script>
      $(document).foundation();
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker1" ).datepicker();
      });
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker2" ).datepicker();
      });
    </script>    
    <script>
      jQuery(function() {
        jQuery( "#datepicker3" ).datepicker();
      });
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker4" ).datepicker();
      });
    </script>
    <script>
      function startJoyRide(){
      if (matchMedia('only screen and (min-width: 64.063em)').matches) {
        $(document).foundation('joyride', 'start');
        }
      }
    </script>
  </body>
</html>
