<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommenTerra | Welcome</title>
<link rel="stylesheet" href="css/commenterra.css" />
    <link rel="stylesheet" href="css/commenterra-icons.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/vendor/jquery-ui.css" />
    <script src="js/vendor/jquery-1.11.2.js"></script>
    <script src="css/vendor/jquery-ui.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/leaflet.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">    
    <link rel="stylesheet" href="/resources/demos/style.css">

          <!-- style for rate function and stars -->
          <style>.functions .demo {
            margin-bottom: 10px;
          }

          .functions .item {
          background-color: #FEFEFE;
          border-radius: 4px;
          display: inline-block;
          margin-bottom: 5px;
          padding: 5px 10px;
          }

          .functions .item a {
          border: 1px solid #CCC;
          margin-left: 10px;
          padding: 5px;
          text-decoration: none;
          }

          .functions .item input {
          display: inline-block;
          margin-left: 2px;
          padding: 5px 6px;
          width: 120px;
          }

          .functions .item label {
          display: inline-block;
          font-size: 1.1em;
          font-weight: bold;
          }

          .hint {
          text-align: center;
          width: 160px
          }

          div.hint {
          font-size: 1.4em;
          height: 46px;
          margin-top: 15px;
          padding: 7px
          }
          </style>

    <!-- autocomplete style -->
    <style>
      .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
      }
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
      height: 100px;
      }
    </style>

    <!-- script for autocomplete function -->
    <script>
      $(function() {
      var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
      ];
       function split( val ) {
      return val.split( /,\s*/ );
      }
      function extractLast( term ) {
      return split( term ).pop();
      }
      $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $( this ).autocomplete( "instance" ).menu.active ) {
      event.preventDefault();
      }
      })
      .autocomplete({
      minLength: 3,
      source: function( request, response ) {
      // delegate back to autocomplete, but extract the last term
      response( $.ui.autocomplete.filter(
      availableTags, extractLast( request.term ) ) );
      },
      focus: function() {
      // prevent value inserted on focus
      return false;
      },
      select: function( event, ui ) {
      var terms = split( this.value );
      // remove the current input
      terms.pop();
      // add the selected item
      terms.push( ui.item.value );
      // add placeholder to get the comma-and-space at the end
      terms.push( "" );
      this.value = terms.join( ", " );
      return false;
      }
      });
      });
    </script>
  </head>

  <body>
    <!-- TOP-BAR (fixed)
       everytime you can see this strong navigation tool
       to get you everywhere -->
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
  		<ul class="title-area"> 
        <li class="name"> 
          <h1><a href="/"> <font face="Helvetica" color="#424242" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommenTerra</font> </a></h1> 
        </li> 
  			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
  			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
  		</ul>
      <section class="top-bar-section"> 
  			<!-- Right Nav Section --> 
        <ul id="numero1" class="right">
          <li class="has-form">
            <form action="/api/v1/simplesearch" method="get" data-abide>
                <div class="row collapse">
                  <div class="small-9 columns ">
                      <div class "search-field">
                        <label> <input type="text" id="keyword" placeholder="search for keyword" name="q"> </label>
                        <!-- small class="error">The Keyword must be alpha-numeric with at least 3 characters!</small-->
                      </div>
                  </div>
                  <div class="small-3 columns end">
                    <button class="success radius expand" type="submit">Search</button>
                  </div>
                </div>
            </form>
          </li>
          <!-- LogInModal
               to get logged-in in the community network
               only posible when you have been registed -->
  				<li><a href=<%= action %> data-reveal-id="LogInModal"><%= actionName %></a></li>
          <% if (!boolean1) { %>
          <div id="LogInModal" class="reveal-modal" data-reveal>
            <h2>Log In</h2>
            <p class="lead">Please log in with your e-mail and your password</p>
            <p><form data-abide action="/login" method="post">
              <div class="email-field">
                <label>e-Mail 
                  <small>required</small>
                  <input type="email" id="email" placeholder="info@commenterra.com" name="email" required pattern="email">  
                </label>
                <small class="error">Please type in a valid e-mail-adress!</small>
              </div>
              <div class="password-field">
                <label>Password 
                  <small>required</small>
                  <input type="password" id="password" placeholder="P4s$w0rd!" name="password" required> 
                </label>
                <small class="error">Please type in your password!</small>
              </div>
              <button id="LogInModal2" class="radius" type="submit">Log In</button>
            </form></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% } %>
  				<li class="has-dropdown"> 
  					<a href="#">Site Navigation</a> 
  					<ul class="dropdown"> 
              <li><a href="/comments/add">New Comment</a></li> 
              <li><a href="/api/v1/search">Advanced Search</a></li>
              <!-- only for logged in users -->
              <% if (boolean1) { %>
              <li><a href="/profile/<%= userId %>">Profile</a></li> 
              <% } %>
              <li><a href="/faq">Help / FAQ</a></li> 
  					</ul> 
  				</li> 
  			</ul> 
  		</section>
  	</nav>
    </div>


    <div class="fixed-under">
      <nav class="top-bar-border"></nav>
    </div>


    <!-- upper dark gray area -->
    <div class="panel custom">

    <!-- LARGE-UP
           use this to show the page when there is a larger display -->
      <strong class="show-for-large-up">
        <!-- input for the advanced search to get the search start
             ordered in a grid to have a better overview of the options -->
        <ul class="large-block-grid-2">
          <h3 id="firstStop"><font color="white">Advanced Search</font color="white"></h3><br>
          <li>
            <form action="/api/v1" method="post">
              <input type="text" name="q" id="search_keywords" placeholder="keywords" />
              <input type="text" name="url" id="search_url" placeholder="url" />            
              <input type="text" name="authorName" id="search_user" placeholder="user" />
              <p>
                <div id="rating"></div>
              </p>
            
          </li>

          <li>            
            <ul class="large-block-grid-2">              
              <li>
                <!-- data binding for the starting date -->
                <div id="numero2" data-abide data-date="12-02-2012" data-date-format="dd-mm-yyyy" >
                  <input type="text" id="datepicker1" placeholder="Start Date" name="startdate">
                  <!-- <small class="error">The date must be in the format: MM/DD/YYYY</small> -->
                </div>

                <!-- coordinates for searching on a specific point -->
                <input type="text" name="search_boundingbox" id="search_coordinats" placeholder="GPS Coordinates" />

                <button  class="tiny radius expand" style="padding-bottom: 0.45rem" type="submit">Search</button>
                
              </li>

              <li>
                <!-- data binding for the starting date -->
                <div data-abide data-date="12-02-2012" data-date-format="dd-mm-yyyy" >
                  <input type="text" id="datepicker2" placeholder="End Date" name="enddate">
                  <!-- <small class="error">The date must be in the format: MM/DD/YYYY</small> -->
                </div>
   
                <!-- boundingbox search
                     the user get a pop-up window where he/she is
                     able to define a radius. Afterwards by clicking
                     on the map the boundingbox circle appears. -->
                <button id="numero3" href="#" data-reveal-id="boundingBoxModal" class="tiny radius expand" style="padding-bottom: 0.45rem">Set Areal</button>
                  <div id="boundingBoxModal" class="reveal-modal" data-reveal>
                    <h2>Set Areal</h2>
                    <p class="lead">Please insert a radius a boundingbox circle. Given radius in kilometers.</p>
                    <input type="text" id="radius" name=" radius" placeholder="10">
                    <button href="#" class="radius close-reveal-modal expand" style="position: static; font-size: 1rem; line-height: normal; font-weight: normal; color: white;">Take</button>
                    <a class="close-reveal-modal">&#215;</a>
                  </div>
                </form>
            
                <!-- "safe this search"-button open a pop-up window
                     generate a permalink the user can copy
                     to get back to his search everytime -->
                <button id="numero4" href="#" data-reveal-id="permalinkModal" class="tiny radius expand" style="padding-bottom: 0.45rem">Save this Search</button>
                <div id="permalinkModal" class="reveal-modal" data-reveal>
                  <h2>Permalink</h2>
                  <p class="lead">You can copy this link for later searches:</p>
                  <p>http://localhost:80/apo/v1/search?<%= query %></p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>              
          </li>
        </ul>
        </ul>
      </strong>

      <!-- SMALL-UP
           use this to show the page on smaller displays
           for example on mobilephones -->
      <strong class="hide-for-large-up">
          <!-- input for the advanced search to get the search start
             ordered in a grid to have a better overview of the options -->
          <h3 id="firstStop"><font color="white">Advanced Search</font color="white"></h3><br>
            <form>
              <input type="text" name="search_keywords" id="search_keywords" placeholder="keywords..." />
              <input type="text" name="search_url" id="search_url" placeholder="url..." />            
              <input id="numero1" type="text" name="search_user" id="search_user" placeholder="users..." />
            </form>
            <div id="rating1"></div>
            <p></p>

                <!-- data binding for the input date -->
                <form data-abide>
                  <input type="date" id="id" placeholder="Start Date (MM/DD/YYYY)" name="date" pattern="month_day_year">
                  <small class="error">The date must be in the format: MM/DD/YYYY</small>
                  <input type="date" id="id" placeholder="End Date (MM/DD/YYYY)" name="date" pattern="month_day_year">
                  <small class="error">The date must be in the format: MM/DD/YYYY</small>
                </form>

                <!-- coordinates for searching on a specific point -->
                <input type="text" name="search_coordinats" id="search_coordinats" placeholder="GPS Coordinates" />

                <!-- boundingbox search
                     the user get a pop-up window where he/she is
                     able to define a radius. Afterwards by clicking
                     on the map the boundingbox circle appears. -->
                <button id="numero3" href="#" data-reveal-id="boundingBoxModal" class="tiny radius expand" style="padding-bottom: 0.45rem">Set Areal</button>
                <div id="boundingBoxModal" class="reveal-modal" data-reveal>
                  <h2>Set Areal</h2>
                  <p class="lead">Please insert a radius a boundingbox circle. Given radius in kilometre.</p>
                  <input type="text" id="radius" name=" radius" placeholder="10">
                  <button href="#" class="radius close-reveal-modal expand" style="position: static; font-size: 1rem; line-height: normal; font-weight: normal; color: white;">Take</button>
                  <a class="close-reveal-modal">&#215;</a>
                </div>

                <!-- "safe this search"-button open a pop-up window
                     generate a permalink the user can copy
                     to get back to his search everytime -->              
                <button id="numero4" href="#" data-reveal-id="permalinkModal" class="tiny radius expand" style="padding-bottom: 0.45rem">Save this Search</button>
                <div id="permalinkModal" class="reveal-modal" data-reveal>
                  <h2>Permalink</h2>
                  <p class="lead">You can copy this link for later searches:</p>
                  <p>http://localhost:3000/apo/v1/search?<%= query %></p>
                  <a class="close-reveal-modal">&#215;</a>
                </div>
                <button href="advanced_search.html" class="tiny radius expand" style="padding-bottom: 0.45rem">Search</button>
      </strong>
    </div>

    <!-- lower bright gray area -->
    <div class="panel custom2">
      <!-- SMALL-UP
           use this to show the page on smaller displays
           for example on mobilephones -->
      <strong class="hide-for-large-up">
        <div class="panel custom">

          <!-- data-tabs for the two views in the lower area -->
          <dl class="tabs" data-tab>
            <!-- first tab -->
            <dd><a class="content active" href="#panel1">View Comments</a></dd>
            <!-- second tab -->
            <dd><a href="#panel2">View Map</a></dd>
          </dl>

          <div class="tabs-content">

            <div class="content active" id="panel1">
              <!-- comments 
                   ordered in an data-accordion -->
              <dl id="numero6" class="accordion" data-accordion>

                <% for(var i=0; i<comments.length; i++) {%>

                <dd data-ng-repeat="comment in comments" class="accordion-navigation">
                  <a href="#panel<%= i %>b"><%= comments[i].title %></a>
                  <div id="#panel<%= i %>b" class="content">
                    <ul class="no-bullet">
                    <li>
                      <a href="/api/v1/search?url=<%= comments[i].dataset.url %>"><font color="#2ba6cb"><%= comments[i].dataset.url %></font></a>
                      <p>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-green"></i></a>
                      <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                      &nbsp&nbsp&nbsp&nbsp<%= comments[i].dateString %>
                    </li>
                    </ul>
                      <%= comments[i].text %>
                      <p>
                    <ul class="no-bullet">
                    <li>
                    
                      <% if (comments[i].user) {%>
                      <a href="/profile/<%= comments[i].user._id %>"><font color="#2ba6cb"><%= comments[i].user.local.username %></font></a>
                  <%} else {%> 
                    <font color="#2ba6cb">Anonymous</font>
                  <%} %>                      
                      <font color="#80FF00">&nbsp&nbsp&nbsp&nbsp12&nbsp&nbsp</font><a href="#"><i class="fi-like size-28 font-green"></i></a>
                      <font color="#c60f13">&nbsp&nbsp&nbsp&nbsp0&nbsp&nbsp</font><a href="#"><i class="fi-dislike size-24 font-alert"></i></a>
                      &nbsp&nbsp&nbsp&nbsp
                    <a href="/comments/addtothread/<%= comments[i].dataset.url %>"><i class="fi-comment size-21 font-success"></i></a>                      
                    </li>
                    </ul>
                  <% if (comments[i].comments.length>0) {%>
                  
                      <% for (var j=comments[i].comments.length-1; j>=0; j--) {%>
                          <div class="content">
                            <p><%= comments[i].comments[j].title %></p>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                            <p><%= comments[i].comments[j].text %></p>
                            <p><%= comments[i].comments[j].dateString %></p>
                              <% if (comments[i].comments[j].user) {%>
                            <!-- HERE SCRIPT TO POPULATE COMMENTS1 -->
                              <a href="/profile/<%= comments[i].comments[j].authorName %>"><font color="#2ba6cb">
                                <%= comments[i].comments[j].authorName %>
                              </font></a>
                            <%} else {%> 
                              <font color="#2ba6cb">Anonymous</font>
                              <%= metamaps %>
                            <%} %>
                          </div>

                        <%} 
                      %>
                  <%} %>                    
                  </div>
                </dd>
                <% } %>
<% if (metamaps.length > 0 ) { %> 
<!-- MY META MAPS -->
<% for(var i=0; i<metamaps.length; i++) {%>
  <dd class="accordion-navigation">
                <a id="lastStop" href="#panel<%= i %>c">My Meta Maps comment</a>

                <div id="panel<%= i %>c" class="content">
                  <div class="panel custom5" style="border-color: #424242;">
                  <ul class="no-bullet">
                  <li>
                    <a href="/mapviewer"><font color="#2ba6cb"><%= metamaps[i].itemUnderReview %></font></a>
                    <%= metamaps[i].text %>
                  </li>    
  </dd>
<%} %>
<% } %>                
              </dl>
            </div>

            <div class="content" id="panel2">
              <!-- map -->
              <div class="map" id="map" style="width: 100%; height: 750px"></div>
 
            </div>
          </div>
        </div>
      </strong> 

      <!-- LARGE-UP
           use this to show the page when there is a larger display -->
      <strong class="show-for-large-up">
        <ul class="small-block-grid-2" data-equalizer>
          <li>
            <div class="panel custom" style="overflow: auto" data-equalizer-watch>
                         <!-- comments 
                 orderd in a data-accordion -->
            <dl class="accordion" data-accordion>
              <% for(var i=0; i<comments.length; i++) {%>
              <dd class="accordion-navigation">

                <a id="lastStop" href="#panel<%= i %>c"><%= comments[i].title %></a>

                <div id="panel<%= i %>c" class="content">
                  <div class="panel custom5" style="border-color: #424242;">
                  <ul class="no-bullet">
                  <li>
                    <!-- MapViewerModal
                         by clicking the link of the geodataset
                         the user is asked whether he/she´d like to
                         open it in the map_viewer -->
                    <a href="/mapviewer"><font color="#2ba6cb"><%= comments[i].dataset.url %></font></a>
                    <!--div id="mapModal" class="reveal-modal" data-reveal>
                      <p class="lead">Do you want to use the map viewer?</p>
                      <button href="map_viewer.html" style="position: static; font-size: 1rem; line-height: normal; font-weight: normal; color: white;" class="radius close-reveal-modal" type="submit">Use Map Viewer</button>
                      <button href="#" style="position: static; font-size: 1rem; line-height: normal; font-weight: normal; color: white;" class="radius close-reveal-modal">No use local</button>
                      <a class="close-reveal-modal">&#215;</a>
                    </div-->
                    <p>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                  </li>
                  </ul>
                  <%= comments[i].text %>
                  <p>
                  <ul class="no-bullet">
                  <li>
                    <% if (comments[i].user) {%>
                  <!-- HERE SCRIPT TO POPULATE COMMENTS! -->
                    <a href="/profile/<%= comments[i].authorName %>"><font color="#2ba6cb"><%= comments[i].user.local.username %>
                    </font></a>
                  <%} else {%> 
                    <font color="#2ba6cb">Anonymous</font>
                  <%} %>

                    <font color="#80FF00">&nbsp&nbsp&nbsp&nbsp12&nbsp&nbsp</font><a href="#"><i class="fi-like size-28 font-green"></i></a>
                    <font color="#c60f13">&nbsp&nbsp&nbsp&nbsp0&nbsp&nbsp</font><a href="#"><i class="fi-dislike size-24 font-alert"></i></a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="/comments/add/<%= comments[i].dataset.url %>"><i class="fi-comment size-21 font-success"></i></a>
                    &nbsp&nbsp&nbsp&nbsp<%= comments[i].dateString %>
                  </li>
                  </ul>
                  </div>
                  <br>
                  <ul class="no-bullet">
                  <li>
                    <!-- for making a comment at a comment -->
                    <form action="/comments/addtothread/<%= comments[i]._id %>" method="post">
                    <div class="row">
                      <div class="large-12 columns">
                        <textarea name="text" placeholder="comment on this comment ..."></textarea>
                        <button href="#" class="success tiny radius expand" type="submit">Send your comment</button>
                      </div>
                    </div>
                  </form>
                  </li>
                  </ul>

                  <% if (comments[i].comments.length>0) {%>
                  
                      <% for (var j=comments[i].comments.length-1; j>=0; j--) {%>
                      <div class="panel custom5" style="border-color: #424242;">
                          <div class="content">
                            <p><%= comments[i].comments[j].text %></p>
                              <% if (comments[i].comments[j].user) {%>
                            <!-- HERE SCRIPT TO POPULATE COMMENTS1 -->
                              <a href="/profile/<%= comments[i].comments[j].authorName %>"><font color="#2ba6cb">
                                <%= comments[i].comments[j].authorName %>
                              </font></a>
                            <%} else {%> 
                              <font color="#2ba6cb">Anonymous</font>                            
                            <%} %>
                              <font color="#80FF00">&nbsp&nbsp&nbsp&nbsp12&nbsp&nbsp</font><a href="#"><i class="fi-like size-28 font-green"></i></a>
                              <font color="#c60f13">&nbsp&nbsp&nbsp&nbsp0&nbsp&nbsp</font><a href="#"><i class="fi-dislike size-24 font-alert"></i></a>
                              &nbsp&nbsp&nbsp&nbsp
                              <font size="3"><%= comments[i].comments[j].dateString %></font>                           
                          </div>
                        </div>
                        <br>
                        <%} 
                      %>
                  <%} %>

                </div>

              </dd>
              <% } %>

            </dl>
          </div>
          </li>
          <li>
            <div class="panel custom" data-equalizer-watch>
              <!-- map -->
              <div>
              <div class="map" id="map1" style="width: 100%; height: 1000px; border-radius: 3px"></div>
              </div>
            </div>
          </li>
        </ul>
      </strong>
    </div>

     <!-- script for the map on the right of the site -->
              <script>
              
              if (matchMedia('only screen and (max-width: 64em)').matches) {
                //map for small displays
                var map = L.map('map');

                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  maxZoom: 20,
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map);

                function onLocationFound(e) {
                  var radius = e.accuracy / 2;

                  L.marker(e.latlng).addTo(map)
                  .bindPopup("You are within " + radius + " meters from this point").openPopup();

                  L.circle(e.latlng, radius, {
                    color: '#2ba6cb',
                    fillColor: '#2ba6cb',
                    fillOpacity: 0.5
                  }).addTo(map);
                }

                function onLocationError(e) {
                  map.setView([51.96935, 7.59588], 13);
                  alert(e.message);
                }

                map.on('locationfound', onLocationFound);
                map.on('locationerror', map.setView([51.96935, 7.59588], 13), onLocationError);

                map.locate({setView: true, maxZoom: 13});
                
                L.marker([51.96935, 7.59588]).addTo(map)
                  .bindPopup("<b>Hello everyone!</b><br />This is the GEO1 in Münster.").openPopup();

                L.polygon([
                  [51.97424, 7.59757],
                  [51.97415, 7.59839],
                  [51.97321, 7.59819],
                  [51.97326, 7.59736]], {
                    color: '#2ba6cb',
                    fillColor: '#2ba6cb',
                    fillOpacity: 0.5
                  }).addTo(map).bindPopup("This is an ordinary football-field at the WWU's sports ground.");

                var popup = L.popup();

                function onMapClick(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map);
                }

                map.on('click', onMapClick);
              }

              if (matchMedia('only screen and (min-width: 64.063em)').matches) {
                //map for middle scale displays
                var map1 = L.map('map1');
                //var map1 = L.map('map1').setView([51.96935, 7.59588], 13);

                L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  maxZoom: 20,
                  attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map1);

                function onLocationFound1(e) {
                  var radius1 = e.accuracy / 2;

                  L.marker(e.latlng).addTo(map1)
                  .bindPopup("You are within " + radius1 + " meters from this point").openPopup();

                  L.circle(e.latlng, radius1, {
                    color: '#2ba6cb',
                    fillColor: '#2ba6cb',
                    fillOpacity: 0.5
                  }).addTo(map1);
                }

                function onLocationError1(e) {
                  alert(e.message);
                }

                map1.on('locationfound', onLocationFound1);
                map1.on('locationerror', map1.setView([51.96935, 7.59588], 13), onLocationError1);

                map1.locate({setView: true, maxZoom: 16});
                
                L.marker([51.96935, 7.59588]).addTo(map1)
                  .bindPopup("<b>Hello everyone!</b><br />This is the GEO1 in Münster.").openPopup();

                L.polygon([
                  [51.97424, 7.59757],
                  [51.97415, 7.59839],
                  [51.97321, 7.59819],
                  [51.97326, 7.59736]], {
                    color: '#2ba6cb',
                    fillColor: '#2ba6cb',
                    fillOpacity: 0.5
                  }).addTo(map1).bindPopup("This is an ordinary football-field at the WWU's sports ground.");


                function onMapClick1(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map1);
                }

                map1.on('click', onMapClick1);

              }

              </script>


    <div class="panel custom4" style="width: 100%; height: 2px"></div>


    <!-- FOOTER
         on every page to get more informations -->
    <div id="footer">
      || <a href="/about"><font color="#424242">About CommenTerra / Contact</font></a> || 
      <a href="/faq"><font color="#424242">FAQ / Help</font></a> ||
    </div>

    <!-- JOYRIDE
         as intrudation in the functionality of this page -->
    <ol class="joyride-list" data-joyride>
      <li data-id="firstStop" data-text="Next" data-options="prev_button: false">
        <p>The advanced search is very usefull to search for spezific geodatasets.</p>
      </li>
      <li data-id="numero1" data-button="Next" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>Search for users, urls and for any keyword come to your mind...</p>
      </li>
      <li data-id="numero2" data-button="Next" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>... of course you can pick a dateframe related to the geodataset.</p>
      </li>
      <li data-id="numero3" data-button="Next" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>Optional you can clarify a boundingbox just to see whether there any comment exists.</p>
      </li>
      <li data-id="numero4" data-button="Next" data-prev-text="Prev" data-options="tip_location: top; tip_animation: fade">
        <p>Copy the link of your search to reuse it same days later.</p>
      </li>
      <li data-id="numero5" data-button="Next" data-prev-text="Prev" data-options="tip_location: top; tip_animation: fade">
        <p>The resulting comments of your search are shown hier. Ordered by relevanz. For more informations klick.
          To hide klick them again.</p>
      </li>       
      <li data-id="lastStop" data-button="End" data-prev-text="Prev" data-options="tip_location: bottom; tip_animation: fade">
        <p>Again you can take use of the site navigation. Happy Searching!</p>
      </li>
    </ol>


    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.joyride.js"></script>
    <script src="js/jquery.raty.js"></script>
    <script src="js/labs.js"></script>
    <script>
     $(document).ready(function()
     {
     $("#rating").raty();
     });
    </script>
    <script>
     $(document).ready(function()
     {
     $("#rating1").raty();
     });
    </script>
    <script>
      $(document).foundation();
      if (matchMedia('only screen and (min-width: 64.063em)').matches) {
        $(document).foundation('joyride', 'start');
      }      
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker1" ).datepicker();
      });
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker2" ).datepicker();
      });
    </script>    

  </body>

</html>
