<!doctype html>
<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommenTerra | Map Viewer</title>
    <link rel="stylesheet" href="css/commenterra.css" />
    <link rel="stylesheet" href="css/commenterra-icons.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/vendor/jquery-ui.css" />
    <script src="js/vendor/jquery-1.11.2.js"></script>
    <script src="css/vendor/jquery-ui.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/leaflet.js"></script>

     <!-- autocomplete style -->
    <style>
      .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
      }
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
      height: 100px;
      }
    </style>

    <!-- script for autocomplete function -->
    <script>
        $(function() {

          var availableTags;
          $.getJSON("autocomplete.json", function(json){
            availableTags = json;
          });

          function split( val ) {
            return val.split( / \s*/ );
          }

          function extractLast( term ) {
            return split( term ).pop();
          }

          $( "#tags" )
          // don't navigate away from the field on tab when selecting an item
          .bind( "keydown", function( event ) {
            if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
              event.preventDefault();
            }
          })
          .autocomplete({
            minLength: 3,
            source: function( request, response ) {
              // delegate back to autocomplete, but extract the last term
              response( $.ui.autocomplete.filter(
              availableTags, extractLast( request.term ) ) );
            },
            focus: function() {
              // prevent value inserted on focus
              return false;
            },
            select: function( event, ui ) {
              var terms = split( this.value );
              // remove the current input
              terms.pop();
              // add the selected item
              terms.push( ui.item.value );
              // add placeholder to get the comma-and-space at the end
              terms.push( "" );
              this.value = terms.join( " " );
              return false;
            }
          });
        });
      </script>
      
  </head>

  <body>

    <% if (message.length > 0) { %>
      <div data-alert class="alert-box">
        <%= message %>
      <a href="#" class="close">&times;</a>
      </div>
    <% } %>

    <!-- TOP-BAR (fixed)
       everytime you can see this strong navigation tool
       to get you everywhere -->
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
  		<ul class="title-area"> 
        <li class="name"> 
          <h1><a href="/"> <font face="Helvetica" color="#424242" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommenTerra</font> </a></h1> 
        </li> 
  			<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
  			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
  		</ul>
      <section class="top-bar-section"> 
  			<!-- Right Nav Section --> 
        <ul id="numero1" class="right">
          <li class="has-form">
            <form action="/api/v1/simplesearch" method="get" data-abide>
                <div class="row collapse">
                  <div class="small-9 columns ">
                      <div class "search-field">
                        <label> <input type="text" id="tags" placeholder="search term" name="q"> </label>
                      </div>
                  </div>
                  <div class="small-3 columns end">
                    <button class="success radius expand" type"submit">Search</button>
                  </div>
                </div>
            </form>
          </li>
          <!-- LogInModal
               to get logged-in in the community network
               only posible when you have been registed -->
  				<li><a href=<%= action %> data-reveal-id="LogInModal"><%= actionName %></a></li>
          <% if (!boolean1) { %>
          <div id="LogInModal" class="reveal-modal" data-reveal>
            <h2>Log In</h2>
            <p class="lead">Please log in with your e-mail and your password</p>
            <p><form data-abide action="/login" method="post">
              <div class="email-field">
                <label>e-Mail 
                  <small>required</small>
                  <input type="email" id="email" placeholder="info@commenterra.com" name="email" required pattern="email">  
                </label>
                <small class="error">Please type in a valid e-mail-adress!</small>
              </div>
              <div class="password-field">
                <label>Password 
                  <small>required</small>
                  <input type="password" id="password" placeholder="P4s$w0rd!" name="password" required> 
                </label>
                <small class="error">Please type in your password!</small>
              </div>
              <button id="LogInModal2" class="radius" type="submit">Log In</button>
            </form></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% } %>
  				<li class="has-dropdown"> 
  					<a href="#">Site Navigation</a> 
  					<ul class="dropdown"> 
              <li><a href="/comments/add">New Comment</a></li> 
              <li><a href="/api/v1/search">Advanced Search</a></li>
              <!-- only for logged in users -->
              <% if (boolean1) { %>
              <li><a href="/profile/<%= userId %>">Profile</a></li> 
              <% } %>
              <li><a id="relocate" onClick="relocate()">Relocate</a></li>
              <li><a href="/faq">Help / FAQ</a></li> 
  					</ul> 
  				</li> 
  			</ul> 
  		</section>
  	</nav>
    </div>

    <div class="fixed-under">
      <nav class="top-bar-border"></nav>
    </div>

    <!-- upper light gray area -->
    <div class="panel custom" style="padding-bottom: 0em">
      <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1">
        <li>
          <!-- link of the shown map -->
          <input type="text" id="url_map_viewer" name="url_map_viewer" value=<%= url %> placeholder="URL" style="margin-bottom: 0" readonly="readonly"/>
        </li>
        <li>
          <nav id="map-ui" class="layer-button">
            <a class="active" id="url-layer">Show / Hide URL-Layer</a>
          </nav>
        </li>
      </ul>
    </div>

    <!-- style for the button to show/hide the layer created out of the URL -->
    <style>
    .layer-button {
      background:#80FF00;
      position: relative;
      width: 100%;
      z-index:90;
      border-radius:3px;
    }
      .layer-button a {
        color:#424242;
        display:block;
        padding-top: 0.40rem;
        padding-right: 1.25rem;
        padding-bottom: 0.38rem;
        padding-left: 1.25rem;
        font-size: 1rem;
        text-decoration:none;
        text-align:center;
      }
        .layer-button a:hover {
          background:#66cc00;
          border-radius:3px;
          color:#424242;
        }
          .layer-button a.active {
            padding-top: 0.40rem;
            padding-right: 1.25rem;
            padding-bottom: 0.38rem;
            padding-left: 1.25rem;
            font-size: 1rem;
            background:#80FF00;
            border-radius:3px;
            color:#424242;
          }
            .layer-button a.active:hover {
              background:#66cc00;
              border-radius:3px;
            }
      </style>

    <!-- lower bright gray area -->
    <div class="panel custom2">
      <div class="panel custom">
        <!-- map -->  
        <div class="map" id="map1" style="width: 100%; height: 750px; border-radius: 3px"></div>
      </div>
    </div>

    <script>     
                //Load the map
                var map1 = L.map('map1');
                //var map1 = L.map('map1').setView([51.96935, 7.59588], 13);

                //load and display tile layers on the map
                var mapBox = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  zIndex: 1,
                  maxZoom: 20,
                  attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map1);

                var aerial = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}.png', {
                  zIndex: 1,
                  maxZoom: 18,
                  attribution: 'Map data © <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9">ArcGis Map Service</a> contributors, ' +
                    '<a href="http://www.esri.com/legal/software-license">Esri Master License Agreement</a>, ' +
                    'Imagery © <a href="http://www.esri.com/">ESRI</a>'
                });

                var OSM = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  zIndex: 1,
                  maxZoom: 20,
                  attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,'
                });

                // crate a baseLayer-variable in which all the basemap-tile-layers are stored
                var baseLayers = {
                  "OSM MapBox": mapBox,
                  "ESRI Aerial": aerial,
                  "OSM Standard": OSM
                };

                // initialize the layer-control toolbar
                L.control.layers(baseLayers).addTo(map1);

                // load a wms
                //
                // !!! HIER KANN MAN ZUR VERBESSERUNG ANSETZEN !!! (dieser WMS liegt über den USA)
                //
                var myWMS = L.tileLayer.wms('http://nowcoast.noaa.gov/wms/com.esri.wms.Esrimap/obs', {
                  zIndex: 5,
                  format: 'image/png',
                  transparent: true,
                  layers: 'RAS_RIDGE_NEXRAD'
                }).addTo(map1);
                //
                // !!! ... BIS HIER !!!
                //

                document.getElementById('url-layer').onclick = function () {
                  var enable = this.className !== 'active';
                  myWMS.setOpacity(enable ? 1 : 0);
                  this.className = enable ? 'active' : '';
                  return false;
                };

                var specialIcon = L.Icon.extend({
                  options: {
                    shadowUrl: '/css/images/marker-shadow.png',
                    iconAnchor:   [12, 40],
                    shadowAnchor: [12, 40],
                    popupAnchor:  [0, -30]
                  }
                });

                var greenIcon = new specialIcon({iconUrl: 'css/images/marker-icon-green.png'}),
                    redIcon = new specialIcon({iconUrl: 'css/images/marker-icon-red.png'});

                function relocate() {

                  map1.locate({setView: true, maxZoom: 16});

                  map1.removeLayer(locationMarker);
                  map1.removeLayer(locationCircle);
                }

                var locationMarker;
                var locationCircle;

                //shows the location of the device
                function onLocationFound1(e) {

                  var radius1 = e.accuracy / 2;

                  locationMarker = L.marker(e.latlng, {icon: redIcon}).addTo(map1)
                  .bindPopup("You are within " + radius1 + " meters from this point").openPopup();

                  locationCircle = L.circle(e.latlng, radius1, {
                    color: '#c60f13',
                    fillColor: '#c60f13',
                    fillOpacity: 0.5
                  }).addTo(map1);
                }

                function onLocationError1(e) {
                  alert(e.message);
                }

                map1.on('locationfound', onLocationFound1);
                map1.on('locationerror', map1.setView([51.158119, 10.446495], 6), onLocationError1);

                map1.locate({setView: true, maxZoom: 16});

                var popup = L.popup();

                function onMapClick1(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map1);
                }

                map1.on('click', onMapClick1);
                // define rectangle geographical bounds

                function showBoundingBox(xmin, ymin, xmax, ymax) {

                var bounds = [[xmin, ymin], [xmax, ymax]];
                // create an orange rectangle
                L.rectangle(bounds, {color: "#ff7800", weight: 2}).addTo(map1);

                // zoom the map to the rectangle bounds
                map1.fitBounds(bounds);
                }
    </script>

    <div class="panel custom4" style="width: 100%; height: 2px"></div>

    <!-- FOOTER
         on every page to get more informations -->
    <div id="footer">
      || <a href="/about"><font color="#424242">About CommenTerra / Contact</font></a> || 
      <a href="/faq"><font color="#424242">FAQ / Help</font></a> ||
    </div>

    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>

</html>
