<!doctype html>
<html class="no-js" lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CommenTerra | New Comment</title>
    <link rel="stylesheet" href="css/commenterra.css" />
    <link rel="stylesheet" href="css/commenterra-icons.css" />
    <link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/vendor/jquery-ui.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/vendor/leaflet.js"></script>
    <script src="js/vendor/jquery.js"></script>    
    <script src="js/vendor/jquery-1.11.2.js"></script>
    <script src="css/vendor/jquery-ui.js"></script>
    <link rel="stylesheet" href="css/jquery.raty.css" />
    <script src="js/jquery.raty2.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/foundation/foundation.joyride.js"></script>

    <script src="js/vendor/leafletdraw/src/Leaflet.draw.js"></script>
    <link rel="stylesheet" href="js/vendor/leafletdraw/dist/leaflet.draw.css" />

    <script src="js/vendor/leafletdraw/src/Toolbar.js"></script>
    <script src="js/vendor/leafletdraw/src/Tooltip.js"></script>

    <script src="js/vendor/leafletdraw/src/ext/GeometryUtil.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/LatLngUtil.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/LineUtil.Intersect.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/Polygon.Intersect.js"></script>
    <script src="js/vendor/leafletdraw/src/ext/Polyline.Intersect.js"></script>

    <script src="js/vendor/leafletdraw/src/draw/DrawToolbar.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Feature.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.SimpleShape.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Polyline.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Circle.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Marker.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Polygon.js"></script>
    <script src="js/vendor/leafletdraw/src/draw/handler/Draw.Rectangle.js"></script>

    <script src="js/vendor/leafletdraw/src/edit/EditToolbar.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/EditToolbar.Edit.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/EditToolbar.Delete.js"></script>

    <script src="js/vendor/leafletdraw/src/Control.Draw.js"></script>

    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Poly.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.SimpleShape.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Circle.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Rectangle.js"></script>
    <script src="js/vendor/leafletdraw/src/edit/handler/Edit.Marker.js"></script>

    <!-- style for rate function and stars -->
    <style>
      .functions .demo {
        margin-bottom: 10px;
      }

      .functions .item {
        background-color: #FEFEFE;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px 10px;
      }

      .functions .item a {
        border: 1px solid #CCC;
        margin-left: 10px;
        padding: 5px;
        text-decoration: none;
      }

      .functions .item input {
        display: inline-block;
        margin-left: 2px;
        padding: 5px 6px;
        width: 120px;
      }

      .functions .item label {
        display: inline-block;
        font-size: 1.1em;
        font-weight: bold;
      }

      .hint {
        text-align: center;
        width: 160px
      }

      div.hint {
        font-size: 1.4em;
        height: 46px;
        margin-top: 15px;
        padding: 7px
      }
    </style>

    <!-- autocomplete style -->
    <style>
      .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
      }
      /* IE 6 doesn't support max-height
      * we use height instead, but this forces the menu to always be this tall
      */
      * html .ui-autocomplete {
        height: 100px;
      }
    </style>

    <!-- script for autocomplete function -->
    <script>
      $(function() {
        var availableTags = [
          "ActionScript",
          "AppleScript",
          "Asp",
          "BASIC",
          "C",
          "C++",
          "Clojure",
          "COBOL",
          "ColdFusion",
          "Erlang",
          "Fortran",
          "Groovy",
          "Haskell",
          "Java",
          "JavaScript",
          "Lisp",
          "Perl",
          "PHP",
          "Python",
          "Ruby",
          "Scala",
          "Scheme"
        ];
        function split( val ) {
          return val.split( / \s*/ );
        }
        function extractLast( term ) {
          return split( term ).pop();
        }
        $( "#tags" )
        // don't navigate away from the field on tab when selecting an item
        .bind( "keydown", function( event ) {
          if ( event.keyCode === $.ui.keyCode.TAB &&
          $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })
        .autocomplete({
        minLength: 3,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) 
          ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( " " );
          return false;
          }
        });
      });
    </script>
    
        <!--Progress-bar style-->
    <style>
      .ui-progressbar {
        position: relative;
      }
      .progress-label {
        position: absolute;
        left: 50%;
        top: 4px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
      }
    </style>
    
    <!--Progress-bar-->
    <script>
      $(function() {
        var progressbar = $( "#progressbar" ),
        progressLabel = $( ".progress-label" );
        progressbar.progressbar({
          value: false,
          change: function() {
            progressLabel.text( progressbar.progressbar( "value" ) + "%" );
          },
          complete: function() {
            progressLabel.text( "Complete!" );
          }
        });

        function progress() {
          var val = progressbar.progressbar( "value" ) || 0;
          progressbar.progressbar( "value", val + 2 );
          if ( val < 72 ) {
            setTimeout( progress, 1000 );
          }
        }
        setTimeout( progress, 2000 );
      });
    </script>

    <!--change the progress bar to visible-->
    <script>
      function visible(){
        document.getElementById("progressbar").style.visibility='visible'
      }
    </script>
  </head>

  <body>

    <% if (message.length > 0) { %>
      <div data-alert class="alert-box">
        <%= message %>
      <a href="#" class="close">&times;</a>
      </div>
    <% } %>

    <!--fixed top-bar-->
    <div class="fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area"> 
        <li class="name"> 
          <h1><a href="/"> <font face="Helvetica" color="#424242" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCommenTerra</font> </a></h1> 
        </li> 
        <!--remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone--> 
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
      </ul>
      <section class="top-bar-section"> 
        <!--right nav section--> 
        <ul class="right">
          <li class="has-form">
            <form action="/api/v1/simplesearch" method="get" data-abide>
                <div class="row collapse">
                  <!--seperate this area in 9 areas-->
                  <div class="small-9 columns ">
                      <div class "search-field">
                         <!--search for keyword field with an autocomplete function-->
                        <label> <input type="text" id="tags" placeholder="search term" name="q"> </label>
                        <!-- small class="error">The Keyword must be alpha-numeric with at least 3 characters!</small-->
                      </div>
                  </div>
                  <!--override the count that adds up to 12 columns-->
                  <div class="small-3 columns end">
                    <button class="success radius expand" type="submit">Search</button>
                  </div>
                </div>
            </form>
          </li>
          <!-- LogInModal
               to get logged-in in the community network
               only posible when you have been registed -->
          <li><a href=<%= action %> data-reveal-id="LogInModal"><%= actionName %></a></li>
          <% if (!boolean1) { %>
          <div id="LogInModal" class="reveal-modal" data-reveal>
            <h2>Log In</h2>
            <p class="lead">Please log in with your e-mail and your password</p>
            <p><form data-abide action="/login" method="post">
              <div class="email-field">
                <label>e-Mail 
                  <small>required</small>
                  <input type="email" id="email" placeholder="info@commenterra.com" name="email" required pattern="email">  
                </label>
                <!--exception: invalid e-mail-->
                <small class="error">Please type in a valid e-mail-adress!</small>
              </div>
              <div class="password-field">
                <label>Password 
                  <small>required</small>
                  <input type="password" id="password" placeholder="P4s$w0rd!" name="password" required> 
                </label>
                <!--exception: no password-->
                <small class="error">Please type in your password!</small>
              </div>
              <button id="LogInModal2" class="radius" type="submit">Log In</button>
            </form></p>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% } %>
          <!--Site Navigation with links to "New Comment", "Advanced Search" and "Help / FAQ"-->
          <li class="has-dropdown"> 
            <a href="#">Site Navigation</a> 
            <ul class="dropdown"> 
              <li><a href="/comments/add">New Comment</a></li> 
              <li><a href="/api/v1/search">Advanced Search</a></li>
              <!--for the logged user is a further link to the personal "Profile" site-->
              <% if (boolean1) { %>
              <li><a href="/profile/<%= userId %>">Profile</a></li> 
              <% } %>
              <li><a id="relocate" onClick="relocate()">Relocate</a></li>
              <li><a onclick="startJoyRide()">Start Tour</a></li>
              <li><a href="/faq">Help / FAQ</a></li> 
            </ul> 
          </li> 
        </ul> 
      </section>
    </nav>
    </div>

    <div class="fixed-under">
      <nav class="top-bar-border"></nav>
    </div>

    <!--dark grey area-->
    <div class="panel custom">
    <!-- LARGE-UP
           use this to show the page when there is a larger display -->
    <strong class="show-for-large-up">
      <ul class="small-block-grid-2" data-equalizer>
        <li>
          <label><font color="white" size="4">URL:</font></label>
          <form action="/comments" method="get">
  			  <input type="text" name="url" id="firstStop" placeholder="copy your URL here" value="<%= urlValue %>" />

          <label><font color="white" size="4">Select the data format:</font>
          <select style="width: 100%" type="text" name="select">
            <option value="wms">WMS</option>
            <option value="wfs">WFS</option>
            <option value="kml">KML</option>
            <option value="gml">GML</option>
          </select>
          </label>          
          <button class="tiny radius expand" id="validateurl" type="submit" onclick="visible()"><font color="#424242">Validate URL</font></button>
          </form>
          <!-- show the pre defined boundingbox of the geodataset on the map -->
          <button class="tiny radius expand" id="showBB" onclick="showBoundingBox(
                  <%= coords.miny %>, <%= coords.minx %>, <%= coords.maxy %>, <%= coords.maxx %>)"><font color="#424242">Show Bounding Box</font></button>
        </li>
        <li>
          <!--shows the response of the URL-->
          <label><font id="numero1" color="white" size="4">Response:</font><label>
          <textarea id="response" disabled="disabled" style="height: 230px"><%= XMLresponse %></textarea>
          <!--Progress-bar-->
          <div id="progressbar" style="visibility: hidden;"><div class="progress-label">Loading...</div></div>
        </li>
      </ul>
    </strong>

    <!-- SMALL-UP
         use this to show the page on smaller displays
         for example on mobilephones -->
    <strong class="hide-for-large-up">
      <label><font color="white" size="4">URL:</font><label>
      <form action="/comments" method="get">
      <input type="text" name="url" id="firstStop" placeholder="copy your URL here" value="<%= urlValue %>" />

      <label><font color="white" size="4">Select the data format:</font>
      <select style="width: 100%" type="text" name="select">
        <option value="wms">WMS</option>
        <option value="wfs">WFS</option>
        <option value="kml">KML</option>
        <option value="gml">GML</option>
      </select>
      </label>
      <button class="tiny radius expand" id="#" type="#" onclick="document.getElementById('urlResult1').innerHTML = document.getElementById('firtStop').value">
      <font color="#424242">Validate URL</font>
      </button>
      </form>
      <!-- show the pre defined boundingbox of the geodataset on the map 
            ! funktioniert auf klein leider nicht ! -->
      <button class="tiny radius expand" id="showBB" onclick="showBoundingBox(
                  <%= coords.miny %>, <%= coords.minx %>, <%= coords.maxy %>, <%= coords.maxx %>)"><font color="#424242">Show Bounding Box</font></button>
      <!--shows the response of the URL-->
      <label><font color="white" size="4">Response:</font><label>
      <textarea id="response" disabled="disabled" style="height: 180px"><%= XMLresponse %></textarea>
      </li>
    </ul>
    </div>
    </strong>
  </div>

    <!--light grey area-->
    <div class="panel custom2">            
    <!--segmenting this area in two areas-->
    <form action=<%= addAction %> method="post" name="new_comment_form" data-abide>
        <ul class="large-block-grid-2 medium-block-grid-1 small-block-grid-1" data-equalizer>
          <li>
            <div class="panel custom" data-equalizer-watch>
                <!--Comment area-->
                <dl class="accordion" data-accordion>
                  <dd class="accordion-navigation">
                    <a href="#panel1b">
                      <div class="name-field">
                        <font color="#424242" size="4">Title:</font>
                        <input type="text" id="title" placeholder="Title..." name="username" required>
                        <small class="error">Please type in a title!</small>
                      </div>
                    </a>
                    <div class="panel custom2" style="border-radius: 3px">
                      <div id="panel1b" class="content">
                          <label><font id="numero3" color="#424242" size="4">URL:</font></label>
                          <input id="urlResult" type="text" name="url" value="<%= urlResult %>" readonly/> 
                        <p></p>
                        <!--segmenting this area in two areas-->
                        <ul class="small-block-grid-2">
                          <li>
                            <font color="#424242" size="4" id="numero4">Rating (optional):</font><br>
                            <!--five star rating-->
                            <div id="rating" data-score="@Model.Company.Rating" ></div>
                            <input id="rating-input" name="rating" type="hidden" value="" /> 
                          </li>
                          <li>
                            <font color="#424242" size="4" id="numero5">Time Frame (optional):</font><br>
                            <!-- data binding for the starting date -->
                            <div data-abide data-date="12-02-2012" data-date-format="dd-mm-yyyy" >
                              <input type="text" id="datepicker3" placeholder="Start" name="startdate">
                            </div>
                            <!-- data binding for the ending date -->
                            <div data-abide>
                              <input type="text" id="datepicker4" placeholder="End" name="enddate" pattern="month_day_year">
                            </div>
                          </li>
                        </ul>
                        <label><font color="#424242" size="4">Comment:</font></label>
                        <textarea style="height:185px;resize:none;" name="text" id="message" placeholder="Comment..."></textarea>
                        <br>
                        <!--segmenting this area in two areas-->
                        <ul class="small-block-grid-2">
                          <li>
                            <a id="numero6" onClick="showToolbar()" class="success tiny radius expand button">Set Bounding-Box</a>
                            <input type="hidden" id="set_rectangle" name="set_rectangle" value="" placeholder="bounding-box coordinates" />
                          </li>
                          <li>
                            <button id="lastStop" class="success tiny radius expand" data-reveal-id="confirmModal">
                             Save
                            </button>
                            <!--pop up to confirm the submission-->
                            <div id="confirmModal" class="reveal-modal" data-reveal>
                              <h2>Are you sure?</h2>
                              <p class="lead">When you click this button, your comment will be published. Please make sure you filled out all the information to your satsifaction.</p>
                              <button id="testButton" class="success tiny radius expand" data-reveal-id="confirmModal">Save</button>
                              <a class="close-reveal-modal">&#215;</a>
                           </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </dd>
                </dl>
            </div>
          </li>
          <li>
            <div class="panel custom" data-equalizer-watch>
              <!--Map-->
              <div>
              <div class="map" id="map1" style="width: 100%; height: 716px; border-radius: 3px"></div>
              </div>
            </div>
          </li>
        </ul>  
    </div>

          <script>
                //Map for medium screens
                var map1 = L.map('map1');
                //var map1 = L.map('map1').setView([51.96935, 7.59588], 13);
                //reset coordinate input
                map1.on('load',  function() {
                  $("#set_rectangle").val(null);
                });

                //load and display tile layers on the map
                var mapBox = L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                  zIndex: 1,
                  maxZoom: 20,
                  attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                    'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                  id: 'examples.map-i875mjb7'
                }).addTo(map1);

                var aerial = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}.png', {
                  zIndex: 1,
                  maxZoom: 18,
                  attribution: 'Map data © <a href="http://www.arcgis.com/home/item.html?id=10df2279f9684e4a9f6a7f08febac2a9">ArcGis Map Service</a> contributors, ' +
                    '<a href="http://www.esri.com/legal/software-license">Esri Master License Agreement</a>, ' +
                    'Imagery © <a href="http://www.esri.com/">ESRI</a>'
                });

                var OSM = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  zIndex: 1,
                  maxZoom: 20,
                  attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                    '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,'
                });

                // crate a baseLayer-variable in which all the basemap-tile-layers are stored
                var baseLayers = {
                  "OSM MapBox": mapBox,
                  "ESRI Aerial": aerial,
                  "OSM Standard": OSM
                };

                // initialize the layer-control toolbar
                L.control.layers(baseLayers).addTo(map1);

                var specialIcon = L.Icon.extend({
                  options: {
                    shadowUrl: '/css/images/marker-shadow.png',
                    iconAnchor:   [12, 40],
                    shadowAnchor: [12, 40],
                    popupAnchor:  [0, -30]
                  }
                });

                var greenIcon = new specialIcon({iconUrl: 'css/images/marker-icon-green.png'}),
                    redIcon = new specialIcon({iconUrl: 'css/images/marker-icon-red.png'});

                //create featureGroup and control panels for drawing
                var drawnItems = new L.FeatureGroup();
                map1.addLayer(drawnItems);

                var drawControlFull = new L.Control.Draw({
                  edit: {
                    featureGroup: drawnItems
                  }
                });

                var drawControlEditOnly = new L.Control.Draw({
                  edit: {
                    featureGroup: drawnItems
                  }, draw: false
                });

                //function to load the control panels for drawing
                var i = false;

                function showToolbar () {

                if (i == false) {

                map1.addControl(drawControlFull);

                i = true;

                } else {

                }

                }

                //draw the rectangle and put its coordinates into an input
                map1.on("draw:created", function (e) {
                  var type = e.layerType;
                  var layer = e.layer;

                  if (type === 'rectangle') {
                    layer.on('mouseover', function() {
                      $("#set_rectangle").val(layer.getLatLngs());   
                    });
                  }

                  layer.addTo(drawnItems);
                  drawControlFull.removeFrom(map1);
                  drawControlEditOnly.addTo(map1)
                });

                map1.on("draw:deleted", function(e) {
                  drawControlEditOnly.removeFrom(map1);
                  $("#set_rectangle").val(null);
                  drawControlFull.addTo(map1);
                });

                function relocate() {

                  map1.locate({setView: true, maxZoom: 16});

                  map1.removeLayer(locationMarker);
                  map1.removeLayer(locationCircle);
                }

                var locationMarker;
                var locationCircle;

                //shows the location of the device
                function onLocationFound1(e) {

                  var radius1 = e.accuracy / 2;

                  locationMarker = L.marker(e.latlng, {icon: redIcon}).addTo(map1)
                  .bindPopup("You are within " + radius1 + " meters from this point").openPopup();

                  locationCircle = L.circle(e.latlng, radius1, {
                    color: '#c60f13',
                    fillColor: '#c60f13',
                    fillOpacity: 0.5
                  }).addTo(map1);
                }

                function onLocationError1(e) {
                  alert(e.message);
                }

                map1.on('locationfound', onLocationFound1);
                map1.on('locationerror', map1.setView([51.158119, 10.446495], 6), onLocationError1);

                map1.locate({setView: true, maxZoom: 16});

                var popup = L.popup();

                function onMapClick1(e) {
                  popup
                  .setLatLng(e.latlng)
                  .setContent("You clicked the map at " + e.latlng.toString())
                  .openOn(map1);
                }

                map1.on('click', onMapClick1);
                // define rectangle geographical bounds

                function showBoundingBox(xmin, ymin, xmax, ymax) {

                var bounds = [[xmin, ymin], [xmax, ymax]];
                // create an orange rectangle
                L.rectangle(bounds, {color: "#424242", weight: 2}).addTo(map1);

                // zoom the map to the rectangle bounds
                map1.fitBounds(bounds);
                }
           </script>

    <div class="panel custom4" style="width: 100%; height: 2px"></div>    

    <!-- FOOTER
         on every page to get more informations -->
    <div id="footer">
      || <a href="/about"><font color="#424242">About CommenTerra / Contact</font></a> || 
      <a href="/faq"><font color="#424242">FAQ / Help</font></a> ||
    </div>

    <!--joyride: Tour to get a first impression of this site-->
    <ol class="joyride-list" data-joyride>
      <li data-id="firstStop" data-text="Next" data-options="tip_location: top; prev_button: false">
        <p>On this page you can create a comment on almost any geodataset you like. At first you have to validate your URL...</p>
      </li>
    <li data-id="numero1" data-text="Next" data-prev-text="Prev" data-options="tip_location:top">
    <p>... when this process was successfull you can create your comment. In this textarea there is some useful information about your geodataset which we parsed for you. You can use them to make your comment more comprehensive.</p>
    </li>
    <li data-id="numero2" data-text="Next" data-prev-text="Prev" data-options="tip_location:top">
    <p>Here you are able to write the title of your comment. Choose wisely!</p>
    </li>
    <li data-id="numero3" data-text="Next" data-prev-text="Prev" data-options="tip_location: top">
      <p>Here you can see your URL already filled in for you, in case the validation process was successful.</p>
    </li>
    <li data-id="numero4" data-text="Next" data-prev-text="Prev" data-options="tip_location:top">
    <p>Here you can rate your geodataset.</p>
    </li>
    <li data-id="numero5" data-text="Next" data-prev-text="Prev" data-options="tip_location:top">
    <p>Here you can define the temporal extent of your comment ...</p>
    </li>
    <li data-id="numero6" data-text="Next" data-prev-text="Prev" data-options="tip_location:top">
    <p>... and here you can define the spatial extent of your comment via a polygon directly on the map</p>
    </li>
    <li data-id="lastStop" data-text="End" data-prev-text="Prev" data-options="tip_location:top">
    <p>Finally save your comment and see it on the "CommenTerra" main page</p>
    </li>
    
    </ol>

    <script>
      $(document).ready(function(){
        $("#rating").raty({
          path: 'img',
          score: function () {             
                return $(this).attr('data-score');
            },
            click: function(score, evt) {
          $("#rating-input").val(score)
          }
        });
      });
    </script>    
    <script>
      function startJoyRide(){
        if (matchMedia('only screen and (min-width: 64.063em)').matches) {
          $(document).foundation('joyride', 'start');
        }      
      }    
    </script>
    <script>
      $(document).foundation();
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker1" ).datepicker();
      });
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker2" ).datepicker();
      });
    </script>
        <script>
      jQuery(function() {
        jQuery( "#datepicker3" ).datepicker();
      });
    </script>
    <script>
      jQuery(function() {
        jQuery( "#datepicker4" ).datepicker();
      });
    </script>
    <script type="text/javascript">
      jQuery("#testButton").click(function(){
        document.new_comment_form.submit();
      });
    </script>
  </body>
</html>
