      <strong class="show-for-large-up">
      <ul class="small-block-grid-2" data-equalizer>
        <li>
          <div class="panel custom" style="overflow: auto" data-equalizer-watch >
            <!-- Kommentare -->
            <dl class="accordion" data-accordion>
              <% for(var i=0; i<comments.length; i++) {%>
              <dd class="accordion-navigation">

                <a id="lastStop" href="#panel<%= i %>c"><%= comments[i].title %></a>

                <div id="panel<%= i %>c" class="content">
                  <ul class="no-bullet">
                  <li>
                    <a href="/api/v1/search?url=<%= comments[i].dataset.url %>"><font color="#2ba6cb"><%= comments[i].dataset.url %></font></a>
                    <p>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-green"></i></a>
                    <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                    &nbsp&nbsp&nbsp&nbsp<%= comments[i].dateString %>
                  </li>
                  </ul>
                  <%= comments[i].text %>
                  <p>
                  <ul class="no-bullet">
                  <li>
                    <% if (comments[i].user) {%>
                  <!-- HERE SCRIPT TO POPULATE COMMENTS1 -->
                    <a href="/profile/<%= comments[i].user.local.username %>"><font color="#2ba6cb"><%= comments[i].user.local.username %>
                    </font></a>
                  <%} else {%> 
                    <font color="#2ba6cb">Anonymous</font>
                  <%} %>

                    <font color="#80FF00">&nbsp&nbsp&nbsp&nbsp12&nbsp&nbsp</font><a href="#"><i class="fi-like size-28 font-green"></i></a>
                    <font color="#c60f13">&nbsp&nbsp&nbsp&nbsp0&nbsp&nbsp</font><a href="#"><i class="fi-dislike size-24 font-alert"></i></a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="/comments/addtothread/<%= comments[i].dataset.url %>/<%= comments[i]._id %>"><i class="fi-comment size-21 font-success"></i></a>
                  
                  </li>
                  </ul> 
                  <% if (comments[i].comments.length>0) {%>
                  
                      <% for (var j=0; j<comments[i].comments.length; j++) {%>
                          <div class="content">
                            <p id="lastStop"><%= comments[i].comments[j].title %></p>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-green"></i></a>
                            <a href="#"><i class="fi-star size-28 font-grey"></i></a>
                            <p><%= comments[i].comments[j].text %></p>
                            <p><%= comments[i].comments[j].dateString %></p>
                              <% if (comments[i].comments[j].user) {%>
                            <!-- HERE SCRIPT TO POPULATE COMMENTS1 -->
                              <a href="/profile/<%= comments[i].comments[j].authorName %>"><font color="#2ba6cb">
                                <%= comments[i].comments[j].authorName %>
                              </font></a>
                            <%} else {%> 
                              <font color="#2ba6cb">Anonymous</font>
                            <%} %>
                          </div>

                        <%} 
                      %>
                  <%} %>

                </div>


              </dd>
              <% } %>

            </dl>
          </div>
        </li>
        <li>
          <div class="panel custom" data-equalizer-watch>
            <!-- Karte -->
            <div id="numero5">
            <div class="map" id="map1" style="width: 100%; height: 1000px; border-radius: 3px"></div>
            </div>

          </div>
        </li>
      </ul>
    </strong>